<div *ngIf="isLoggedIn(); else loginPage" style="display:flex">

  <div
    style="
      width:250px;
      background:#f5f5f5;
      padding:20px;
      min-height:100vh;
    "
  >

    <h3>MENU</h3>

    <div *ngFor="let menu of menus">

      <a [routerLink]="menu.route">
        {{ menu.page_name }}
      </a>

      <br><br>

    </div>

    <hr>

    <button (click)="logout()">Logout</button>

  </div>

  <div style="padding:20px;width:100%;">
    <router-outlet></router-outlet>
  </div>

</div>

<ng-template #loginPage>
  <router-outlet></router-outlet>
</ng-template>