<div *ngIf="isLoggedIn(); else loginPage" class="layout">
  <aside class="sidebar">
    <div class="brand">
      <h2>UAM</h2>
      <span>User Access Management</span>
    </div>

    <nav>
      <a *ngFor="let menu of menus" [routerLink]="menu.route" class="menu-item">
        {{ menu.page_name }}
      </a>
    </nav>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

<ng-template #loginPage>
  <router-outlet></router-outlet>
</ng-template>
